<app-chat-bubble isAnchor="true"></app-chat-bubble>
<app-chat-bubble></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>
<app-chat-bubble></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>
<app-chat-bubble></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>
<app-chat-bubble></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>

<app-chat-bubble isAnchor="true"></app-chat-bubble>

<app-chat-bubble isAnchor="true" direction="right"></app-chat-bubble>
